<script>
const siteStatus = document.querySelector('.site-status');

fetch('https://demo.tutoriallm.com/api/status', {
    method: 'GET',
    mode: 'cors',
})
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response;
    })
    .then(data => {
        console.log(data);
        if (data.ok && siteStatus) {
            siteStatus.innerHTML = 'Demo App is up and running!';
            siteStatus.classList.add('status-ok'); // 成功時に緑色にする
        }
    })
    .catch(error => {
        if (siteStatus) {
            siteStatus.innerHTML = 'Demo App is not available - Please try again later.';
            siteStatus.classList.add('status-error'); // エラー時に赤色にする
        }
    });</script>

<div class="status-box">
    demo.tutoriallm.com - Demo App Status:
    <div class="site-status"></div>
</div>