.blocklyFlyoutScrollbar[display="none"] {
  display: none;
}
/* Makes our label white. */
.blocklyTreeLabel {
  color: white;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  /*override tailwindcss reset*/
  box-sizing: content-box;
  /*until here*/
  border: 0;
  padding: 0.9rem;
  @media screen and (max-width: 640px) {
    padding: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
  }
  margin-bottom: 0.5em;
  border-radius: 1rem;
  transition: all 0.15s ease; /* アニメーションを追加 */
}

.blocklyTreeRow:hover {
  opacity: 75%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.blocklyTreeIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  @media screen and (max-width: 640px) {
    width: 1rem;
    height: 1rem;
    margin-right: 0.1rem;
  }
}

.blocklyTreeLabel {
  rotate: 90deg;
  font-size: 1rem;
  font-weight: 600;
  @media screen and (max-width: 640px) {
    font-size: 0.8rem
  }
}

.blocklyTreeRow .blocklyTreeRowContentContainer > .blocklyTreeLabel {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  font-weight: 600;
  transition: all 0.15s ease; /* アニメーションを追加 */
}

.blocklyToolboxDiv {
  border-right: 2.5px solid #d1d5db;
  padding: 1rem;
  @media screen and (max-width: 640px) {
    padding: 0.5rem;
  }
  .blocklyToolboxCategory > .blocklyToolboxContents {
    margin-left: 0.5rem;
  }
}

.blocklySeparator {
  border: 0;
  margin: 0.5rem 0;
  height: 1px;
  background-color: #d1d5db;
}
.blocklyLabelTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

@keyframes highlightCategoryButton {
  0% {
    background-color: #ef4444;
    border: #fde047;
  }
  50% {
    background-color: #eab308;
    border: #ef4444;
  }
100% {
    background-color: #ef4444;
    border: #fde047;
  }
}

.highlight {
  animation: highlightCategoryButton 1s infinite;
}
