.blocklyFlyoutScrollbar[display="none"] {
  display: none;
}
/* Makes our label white. */
.blocklyTreeLabel {
  color: white;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: 1rem;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  /*override tailwindcss reset*/
  box-sizing: content-box;
  /*until here*/

  border: 0;
  padding: 0.9rem;
  margin-bottom: 0.5em;
  border-radius: 1rem;
  transition: all 0.15s ease; /* アニメーションを追加 */
}

.blocklyTreeRow:hover {
  opacity: 75%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.blocklyTreeRow .blocklyTreeRowContentContainer > .blocklyTreeLabel {
  padding: 1rem;
  font-weight: 600;
  transition: all 0.15s ease; /* アニメーションを追加 */
}

.blocklyToolboxDiv {
  border-right: 2.5px solid #d1d5db;
}

.blocklySeparator {
  border: 0;
  margin: 0.5rem 0;
  height: 1px;
  background-color: #d1d5db;
}
.blocklyLabelTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

@keyframes highlightCategoryButton {
  0% {
    background-color: #ef4444;
    border: #fde047;
  }
  50% {
    background-color: #eab308;
    border: #ef4444;
  }
100% {
    background-color: #ef4444;
    border: #fde047;
  }
}

.highlight {
  animation: highlightCategoryButton 1s infinite;

}